<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />

    <style>
      :root {
        --body-max-width: 800px;
        --max-width: 773px;
        --primary_color: #cc1332;
        --secondary_color: #ffff;
        --black_color: #000000;
        --spaceSpace: 28px;
      }

      * {
        /* box-sizing:"border-box" ; */
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        /* font-weight: 400; */
        font-style: normal;
      }

      body {
        margin: auto;
        max-width: var(--body-max-width);
        /* background-color: brown;  */
      }

      .header {
        /* padding-left: 50px;
  padding-right: 50px; */
        margin: auto;
        height: 50px;
        /* background-color: #cc1332; */
        display: flex;
        align-items: center;
        max-width: var(--max-width);
        margin-bottom: 20px;
      }

      .header img {
        object-fit: contain;
        height: 50px;
        width: 100px;
      }

      .navbar {
        display: flex;
        align-items: center;
        margin-left: 60px;
        /* margin-left: auto; */
        /* padding-right: 80px; */
      }

      .navlink {
        display: flex;
        align-items: center;
      }

      .navlink img {
        width: 18px;
        height: 18px;
        margin-right: 5px;
      }

      .navlink div {
        font-size: 13px;
        font-weight: 600;
        color: var(--secondary_color);
        /* color: black; */
        color: #fff;
      }

      .verticalDivider {
        width: 3px;
        height: 60px;
        margin-left: 20px;
        margin-right: 20px;
        background-color: var(--secondary_color);
      }

      .invoicedate {
        color: var(--primary_color);
        position: absolute;
        right: 0;
        top: 0;
        font-size: 11px;
      }
      .body {
        margin: auto;
        max-width: var(--max-width);
      }

      .flex {
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }

      .profile_col1 {
        /* background-color: #cc1332; */
        width: 48%;
      }

      .title {
        color: var(--primary_color);
        font-size: 12px;
        margin-bottom: 5px;
      }

      .profile_col1 .cardKEY {
        font-weight: 400;
        font-size: 10px;
      }
      .width_key1 {
        width: 210px;
      }
      .width_key2 {
        /* background-color: #cc1332; */
        width: 120px;
      }

      .profile_col1 .cardValue {
        font-weight: 500;
        font-size: 10px;
      }

      .profile_col1 .cardeq {
        margin-right: 10px;
      }

      .mb2 {
        /* margin-left: 10px;
  margin-bottom: 20px; */
      }

      .horizontalDivider {
        border-bottom: 1px dashed var(--primary_color);
        margin-top: 25px;
        margin-bottom: 15px;
        width: 100%;
        height: 2;
      }

      .vechicle_metrics {
        font-weight: 400;
        font-size: 10px;
        margin-right: 10px;
        /* width: 210px; */
      }
      .vechicle_metric_input {
        text-align: center;
        height: 13px;
        font-size: 10px;
        margin-left: 10px;
        width: 70px;
        margin-right: 20px;
      }

      .vechicle_metrics_col {
        display: flex;
        align-items: center;
      }

      .prCheck {
        display: flex;
        page-break-inside: avoid;
        page-break-inside: avoid;
        /* flex-direction: row; */
        align-items: center;
        justify-content: center;
      }

      .prCheck img {
        width: 70px;
        height: 50px;
        border-radius: 2px;
      }

      .prCheckCol2 {
        /* height: 80px; */
        margin-left: 5px;
        /* width: 300px; */
      }

      .prCheckCol2 .inputText {
        height: 13px;
        font-size: 10px;
      }

      .prCheckboxContainer {
        /* margin-top: 10px; */
        /* margin-left: 10px; */
        margin-top: 2px;
        margin-left: 1px;
gap: 2px;
        flex-wrap: wrap;
        /* align-self: center; */
        display: flex;
        align-items: center;
      }

      .checkbox {
        display: flex;
        margin-right: 5px;
        align-items: center;
      }
      /* .checkboximg{
width: 10px;
height: 10px;
} */
      .service_desc {
        width: 220px;
        border-radius: 4%;
        /* margin-bottom: 20px; */
        gap: 15px;
        border: 1px solid var(--primary_color);
        min-height: 20px;
        page-break-inside: avoid;
        break-inside: avoid;
      }

      .servicepart_title {
        width: 33%;
        /* background-color: #cc1332; */
        font-size: 11px;
        margin-left: 5px;
      }

      .service_container {
        display: flex;
        align-content: baseline;
        /* justify-content: space-between; */
        flex-wrap: wrap;
        gap: 20px;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 20px;
        align-content: flex-start;
      }

      .invoiceTable {
        /* width: var(--max-width); */
        width: 600px;
        border: 1px solid green;
        margin-bottom: var(--spaceSpace);
      }

      .invoiceTable th {
        font-size: 10px;
        color: #ffff;
        height: 30px;
        font-weight: 300;
      }

      .tableHeader {
        background-color: var(--primary_color);
      }

      .invoiceTableRow td {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 15px;
      }

      .invoiceTable th,
      td {
        font-size: 10px;
        border: 1px solid var(--primary_color);
      }

      .invoiceTable {
        page-break-inside: avoid;
        break-inside: avoid;
        border-collapse: collapse;
        /* width: 400px; */
        width: var(--max-width);
        /* --max-width */
      }

      .noBreakDiv {
        page-break-inside: avoid;
        page-break-inside: avoid;
      }

      .service_table {
        width: var(--max-width);
        border: 1px solid var(--primary_color);
        /* border-right:0; */
        border-collapse: collapse;
      }

      .service_table tr th {
        font-weight: 400;
        font-size: 10px;
        color: var(--primary_color);
      }

      .service_table tr td {
        font-weight: 400;
        font-size: 10px;
        /* color: var(--primary_color); */
      }

      .service_table tr th + th {
        border-left: 1px solid var(--primary_color);
      }
      /* 
.service_table> tr> td +td{
  border-left: 1px solid var(--primary_color);
} */

.tableHeaderTitle{
  font-weight:500; border-right: 1px solid #fff;

}

    </style>
  </head>

  <body>
    <!-- header Start -->
    <div style="background-color: var(--primary_color)">
      <div class="header">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/automs-database.firebasestorage.app/o/img%2Flogo.png?alt=media&token=bc56419f-d58a-4829-bbce-2d986ce9c523
"
          alt="logo"
          srcset=""
        />
        <div class="navbar">
          <div class="navlink">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/automs-database.firebasestorage.app/o/img%2Fion_phone.png?alt=media&token=bfe701fc-c884-4a1e-8874-18c363ceea64
"
              alt="logo"
              srcset=""
            />

            <div>+91 7684920975</div>
          </div>
          <div
            class="verticalDivider"
            style="margin-left: 35px; margin-right: 35px"
          ></div>
          <div class="navlink">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/automs-database.firebasestorage.app/o/img%2Fion_location.png?alt=media&token=911e2055-e38b-44ad-914e-5b4ca1e195ad
"
              alt="logo"
              srcset=""
            />

            <div>Mumbai</div>
          </div>
          <div
            class="verticalDivider"
            style="margin-left: 35px; margin-right: 35px"
          ></div>
          <div class="navlink">
            <!-- <div>Invoice No. : HN829901239</div> -->
          </div>
        </div>
      </div>
    </div>
    <!-- header end -->

    <div class="body">
      <div
        style="
          position: relative;
          height: 30px;

          padding-bottom: 10px;
        "
      >
        <div class="invoicedate">DATE : 12th April 2025</div>
      </div>

      <div class="flex" style="justify-content: space-between">
        <div class="profile_col1">
          <div class="title">Customer Details</div>
          <div class="flex mb2">
            <div class="cardKEY width_key1">Name</div>
            <div class="cardeq">:</div>
            <div class="cardValue"><%= data.customerName %></div>
          </div>

          <div class="flex mb2">
            <div class="cardKEY width_key1">Contact</div>
            <div class="cardeq">:</div>
            <div class="cardValue"><%= data.customerPhone %></div>
          </div>
          <div class="flex mb2">
            <div class="cardKEY width_key1">Location</div>
            <div class="cardeq">:</div>
            <div class="cardValue"><%= data.customerLocation %></div>
          </div>
          <div class="flex mb2">
            <div class="cardKEY width_key1">Technician Assigned</div>
            <div class="cardeq">:</div>
            <div class="cardValue">Technician 1</div>
          </div>
        </div>
        <div class="profile_col1">
          <div class="title">Vehicle Details</div>
          <div class="flex mb2">
            <div class="cardKEY width_key2">Vehicle No.</div>
            <div class="cardeq">:</div>
            <div class="cardValue"><%= data.registrationNumber %></div>
          </div>

          <div class="flex mb2">
            <div class="cardKEY width_key2">VIN No</div>
            <div class="cardeq">:</div>
            <div class="cardValue"><%= data.vinNumber %></div>
          </div>
          <div class="flex mb2">
            <div class="cardKEY width_key2">Model</div>
            <div class="cardeq">:</div>
            <div class="cardValue"><%= data.model %></div>
          </div>
          <div class="flex mb2">
            <div class="cardKEY width_key2">Make</div>
            <div class="cardeq">:</div>
            <div class="cardValue"><%= data.make %></div>
          </div>
        </div>
      </div>
      <div class="horizontalDivider"></div>
      <div class="title">Vehicle Metrics</div>

      <div style="display: flex; margin-left: 10px; flex-wrap: wrap">
        <!-- single vechicle_metrics -->
        <div class="vechicle_metrics_col">
          <div class="vechicle_metrics">Insurance Due</div>
          <div>:</div>
          <input
            class="vechicle_metric_input"
            type="text"
            value="<%= new Date(data.insuranceDue).toLocaleDateString() %>"
          />
        </div>
        <!--end single vechicle_metrics -->
        <!-- single vechicle_metrics -->
        <div class="vechicle_metrics_col">
          <div class="vechicle_metrics">PUC Due</div>
          <div>:</div>
          <input
            class="vechicle_metric_input"
            type="text"
            value="<%= new Date(data.pucDue).toLocaleDateString() %>"
          />
        </div>
        <!--end single vechicle_metrics -->
        <!-- single vechicle_metrics -->
        <div class="vechicle_metrics_col">
          <div class="vechicle_metrics">Battery Due</div>
          <div>:</div>
          <input
            class="vechicle_metric_input"
            type="text"
            value="<%= new Date(data.batteryExpiryDate).toLocaleDateString() %>"
          />
        </div>
        <!--end single vechicle_metrics -->
      </div>

      <div class="horizontalDivider"></div>

      <div class="title">PR Inspections</div>
      <div class="flex mb2" style="flex-wrap: wrap; 
  
      gap: 20px;

      ">
        <% data.PRIInspection.forEach((item) => { %>
        <!-- prcheck start -->
        <div class="prCheck" style="
         width: 200px;">
          <a href="<%= item.uploadImage %>">
            <img src="<%= item.uploadImage %>" alt="car" />
          </a>

          <div class="prCheckCol2">
            <input
              type="text"
              class="inputText"
              style="height: 13px; width: 130px;margin-bottom: 3px; "
            value="<%= item.imageDescription || '' %>"
     
            />
            <div class="prCheckboxContainer">
              <% item.priChecks.forEach((check) => { %>
              <div class="checkbox">
                <!-- <input type="checkbox" value="true"  name="" id=""> -->
                <img
                  style="width: 15px; height: 15px; margin-right: 2px"
                  src="https://firebasestorage.googleapis.com/v0/b/automs-database.firebasestorage.app/o/img%2Fcheck_box.png?alt=media&token=29c194b9-f518-41b1-ab72-f19e31ebc287"
                  alt="checkbox"
                />
                <span style="font-size: 10px"><%= check %></span>
              </div>
              <% }) %>
            </div>
          </div>
        </div>
        <!-- prcheck end -->
        <% }) %>
      </div>

      <div class="horizontalDivider"></div>
      <div class="title">Service Description</div>
      <div class="noBreakDiv">
        <!-- service name start -->
        <div
          style="
            font-size: 10px;
            font-weight: 300;
            padding-top: 3px;
            padding-bottom: 8px;
            color: var(--primary_color);
          "
        >
          Service Name
        </div>
        <!-- service container start -->

        <!-- service desc start -->
           <table class="service_table">
          <tr style="height: 40px">
            <th style="padding-left: 10px; text-align: left">Sr.n</th>
            <th style="padding-left: 10px; width: 150px; text-align: left">
              Service Name
            </th>
            <th style="padding-left: 10px; text-align: left; width: 450px">
              Service Description
            </th>
            <th style="padding-left: 10px; text-align: left">Charges</th>
          </tr>
          <% data.services.forEach((service,i) => { %>
          <tr style="height: 40px">
            <td style="text-align: center; width: 50px"><%= i+1 %></td>
            <td style="padding-left: 10px"><%= service.serviceName %></td>
            <td style="padding-left: 10px">
              <%= service.serviceDescription %>
            </td>
            <td style="padding-left: 10px">
              ₹ <%= service.serviceCharges %>/-
            </td>
          </tr>
          <% }) %>
        </table>
        <!-- service desc end -->
      </div>


<div class="noBreakDiv" style="margin-top: 20px">
        <!--service Part Name and Quantity start-->
        <div
          style="
            font-size: 10px;
            font-weight: 300;
            padding-top: 3px;
            padding-bottom: 8px;
            color: var(--primary_color);
          "
        >
          Part Name and Quantity
        </div>
        <!-- service container start -->

        <!-- service desc start -->
        <table class="service_table">
          <tr style="height: 40px">
            <th style="padding-left: 10px; text-align: left">Sr.n</th>
            <th style="padding-left: 10px; text-align: left">Part Name</th>
            <th style="padding-left: 10px; text-align: left">Part Quantity</th>
            <th style="padding-left: 10px; text-align: left">Charges</th>
          </tr>
       <%
          data.parts.forEach((part,i) => { %>

          <tr style="height: 40px">
            <td style="text-align: center; width: 50px"><%= i+1 %></td>
            <td style="padding-left: 10px; width: 250px">
              <%= part.partName %>
            </td>
            <td style="padding-left: 10px"><%= part.partQuantity %></td>
            <td style="padding-left: 10px">₹ <%= part.partPrice %>/-</td>
          </tr>
          <% }) %> 
        </table>
        <!--service Part Name and Quantity end-->
      </div>



      <div class="horizontalDivider"></div>
     <div class="noBreakDiv">
        <div class="title">Invoice</div>
    <table class="invoiceTable">
  <tr class="tableHeader" style="height: 7px">
    <th class="tableHeaderTitle">Type</th>
    <th class="tableHeaderTitle">Count</th>
    <th class="tableHeaderTitle">Total Amount</th>
  </tr>

  <% 
    let mytotalQuantity = 0; 
    let mytotalPrice = 0;

    let serviceslength = data.services.length;
    let partslength = data.parts.length;

    let partTotal = data.parts.reduce((acc, ele) => acc + ele.partPrice, 0); 
    let serviceTotal = data.services.reduce((acc, ele) => acc + ele.serviceCharges, 0); 
  %>

  <tr class="invoiceTableRow">
    <td>Services</td>
    <td style="text-align: center"><%= serviceslength %></td>
    <td>₹ <%= serviceTotal %> /-</td>
  </tr>

  <tr class="invoiceTableRow">
    <td>Parts</td>
    <td style="text-align: center"><%= partslength %></td>
    <td>₹ <%= partTotal %> /-</td>
  </tr>

  <tr class="invoiceTableRow end">
    <td colspan="2">Total Invoice Amount:</td>
    <td>₹ <%= data.totalInvoiceAmount %> /-</td>
  </tr>
</table>

      </div>
      <div class="horizontalDivider"></div>
      <div class="noBreakDiv">
        <div class="title">Pr inspection</div>
      <table class="invoiceTable">
  <tr class="tableHeader" style="height: 7px">
    <th class="tableHeaderTitle">Image Link</th>
    <th class="tableHeaderTitle">Image Description</th>
    <th class="tableHeaderTitle">PRI Check</th>
  </tr>
  <!-- start pr -->
  <% data.PRIInspection.forEach((item) => { %>
    <tr class="invoiceTableRow">
      <td style="width: 80px;"><a href="<%= item.uploadImage %>">Image</a></td>
      <td style="width: 450px;"><%= item.imageDescription %></td>
      <td style="text-align: center; display:flex;flex-wrap: wrap; gap: 3px;">
  
              <% item.priChecks.forEach((check) => { %>
              <div class="checkbox">
                <!-- <input type="checkbox" value="true"  name="" id=""> -->
                <img
                  style="width: 15px; height: 15px; margin-right: 2px"
                  src="https://firebasestorage.googleapis.com/v0/b/automs-database.firebasestorage.app/o/img%2Fcheck_box.png?alt=media&token=29c194b9-f518-41b1-ab72-f19e31ebc287"
                  alt="checkbox"
                />
                <span style="font-size: 10px"><%= check %></span>
              </div>
              <% }) %>
   
      </td>
    </tr>
  <% }) %>
  <!-- end pr -->
</table>

      </div>
    </div>
  </body>
</html>